@import "tailwindcss";

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ggsans.woff2") format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-weight: 600;
  src: url("/fonts/ggsanssemibold.woff2") format("woff2");
}

@theme {
  --font-gg: "gg sans", sans-serif;
}